body {
      margin: 0;
      font-family: "Montserrat", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      /* background: linear-gradient(to right, #4caf50, #2196f3); */
      background-image: radial-gradient(circle, #4b6cb7 10%, #182848 90%);
    }

    .container {
      text-align: center;
    }

    .weather-card {
      background-color: rgba(255, 255, 255, 0.95);
      border-radius: 15px;
      padding: 30px;
      width: 100%;
    }

    #city-input {
      padding: 15px;
      margin: 10px 0;
      width: 70%;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    #city-input:focus {
      outline: none;
      border-color: #0d43b1;
    }

    #city-input::placeholder {
      color: #aaa;
    }

    #btn {
      padding: 10px;
      background-color: #1f4796;
      color: #fff;
      border: none;
      border-radius: 7px;
      font-size: 16px;
      cursor: pointer;
      font-weight: 500;
    }

    #btn:hover {
      background-color: #1565c0;
    }

    #weather-info {
      display: none;
    }

    #weather-icon {
      width: 100px;
      height: 100px;
    }

    #temperature {
      font-size: 24px;
      font-weight: bold;
      margin: 8px 0;
    }

    #description {
      font-size: 18px;
      margin-bottom: 10px;
    }

    #wind-speed {
      font-size: 16px;
    }
    #date {
      font-size: 16px;
    }

@media (max-width: 900px) {
  .weather-card {
    padding: 22px;
  }
  #city-input, #btn {
    width: 85%;
  }
}


@media (max-width: 600px) {
  body {
    padding: 0 10px;
    /* height: 100vh; */
  }
  .container {
    margin-top: 30px;
  }
  #city-input, #btn {
    width: 80%;
    font-size: 15px;
  }
  #weather-icon {
    width: 100px;
    height: 100px;
  }
  #temperature {
    font-size: 22px;
  }
}

@media (max-width: 360px) {
  .weather-card {
    padding: 18px;
  }
  #city-input {
    font-size: 14px;
  }
  #btn {
    padding: 10px;
    font-size: 14px;
  }
}

